.App {
  text-align: center;
  background-color: #D4EAC8;
  min-height: 100vh;
}

#title {
  background-color: #D4EAC8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: black;
  font-family: 'Train One', cursive;
}

#chartcontainer{
  background-color: #484538;
  width: 500px;
  height: 500px;
}